# repo mirror
registry=https://registry.npmmirror.com
disturl=https://npm.taobao.org/dist
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/

# pnpm public-hoist-pattern
public-hoist-pattern[]=@element-plus/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=*-loader
public-hoist-pattern[]=babel-runtime